* {
  left: 0;
}

.menu-item {
  display: inline-block;
  background-color: #de3c3f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0;
}

#hdtxt {
  position: absolute;
  left: 50%;
  
}

.h1 {
  display: grid;
}

#footer {
  position: fixed;
  text-align: center;
  color: white;
  background-color: #333;
  height: 100px;
  bottom: 0;
  width: 100%;
  left: 0;
}
.image{
  background-color: red;
  background-image: url(pizzamain.jpg);
  filter: blur(3px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  margin: auto;
}
.text{
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
position: absolute;
left: 50%;
top: 50% ;
width: 80% ;
font-weight: bold;
padding: 20px;
border: 3px solid #f1f1f1;
transform: translate(-50%, -50%);
color: white;
}